#canvas_container {
	position: absolute; 
	left: 400px; 
	top: 100px; 
	width: 400px; 
	height: 400px;
	margin: 0px 30px;
	border: 5px solid black;
	cursor: default;
}

#controller_container{
	position: absolute;
	left: 120px;
	top: 340px;
}

.btn{
	margin-right: 14px;
}

#description_container{
	position: absolute;
	left: 80px;
	top: 80px;
	width: 280px;
	margin: 0px 30px;
}

h1{
	font-size: 40px;
	font-weight: 5;
	font-family: 'Comfortaa', cursive;
}

p{
	font-size: 14px;
	font-weight: .5;
	font-family: 'Comfortaa', cursive;
}

#menu_description{
	position: absolute;
	left: 900px;
	top: 100px;
	width: 250px;
}

#menu_container{
	position: absolute;
	left: 860px;
	top: 150px;
	width: 250px;
	height: 360px;
	background-color: #e6e6e6;
	margin: 0px 30px;
	cursor: default;
	text-align: center;
	font-size: 22px;
	font-family: 'Comfortaa', cursive;
}

.active{
	position: absolute;
	border-radius: 5px;
	background-color: #00FF1E;
	width: 10px;
	height: 10px;
}
